.market-table {
	border-collapse: collapse;

	width: 100%;
	max-width: 100%;

	font-weight: 300;
	color: black;

	background-color: white;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;

		width: 100%;
		padding: 2rem 0;

		@media (width <= 767px) {
			padding: 1rem 0;
		}
	}

	&__row {
	}

	&__cell {
		border: 2px solid gray;

		&.active {
			color: white;
			background-color: #0091ff;
		}

		&-inner {
			display: flex;
			padding: 1rem 0.5rem;

			&--head {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@media (width <= 575px) {
				padding: 0.5rem 0.25rem;
			}
		}

		&:not(:first-child) {
			width: 22%;
			max-width: 22%;
		}

		&--head {
			font-size: 1.25rem;
			font-weight: 600;

			@media (width <= 575px) {
				font-size: 1rem;
			}
		}
	}

	&__name {
		font-weight: 600;
		text-transform: uppercase;

		@media (width <= 575px) {
			font-weight: 500;
		}
	}

	&__toggle-button {
		@include hover {
			color: white;
			background-color: black;
		}

		display: block;

		width: fit-content;
		padding: 0.5rem 1rem;

		color: black;

		background-color: white;

		transition: all 0.3s;
	}

	&__message {
		padding: 1rem 0;
		font-size: 1.25rem;
		text-align: center;
	}
}
